main {
    min-height: 80vh;
}

h3 {
    padding: 1rem 0;
    margin: 0;
}

h2 {
    font-size: 1.4 rem;
    padding: 0.5rem;
}

h1 {
    font-size: 1.8 rem;
    padding: 1rem 0;
}

i {
    margin-right: 5px;
}

.form-group {
    margin-top: 0;
}
.form-control {
    border-radius: 50px;
}

.table {
    margin-top: 1rem;
}
